services:
adguard:
    image: adguard/adguardhome
    container_name: adguard
    restart: unless-stopped
    networks:
      - proxy_net
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "3002:3000/tcp"
      - "8081:80/tcp"
    volumes:
      - /opt/docker/adguard/work:/opt/adguardhome/work
      - /opt/docker/adguard/conf:/opt/adguardhome/conf

networks:
  proxy_net:
    external: true
