services:
prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    networks:
      - proxy_net
      - default
    volumes:
      - /opt/docker/prometheus/config:/etc/prometheus
      - /opt/docker/prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    restart: unless-stopped

  node-exporter-nas:
    image: prom/node-exporter:latest
    container_name: node-exporter-nas
    ports:
      - "9101:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

networks:
  proxy_net:
    external: true
