UPLOAD_LOCATION=/lib/immich
DB_DATA_LOCATION=/opt/docker/immich/db
IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
IMMICH_VERSION=v2
DB_USERNAME={{ IMMICH_DB_USERNAME }}
DB_DATABASE_NAME={{ IMMICH_DB_DATABASE_NAME }}
IMMICH_EXTERNAL_DOMAIN=https://nas-01.taildfad90.ts.net:2283
DB_PASSWORD={{ IMMICH_DB_PASSWORD }}
