PAPERLESS_DB_PASS="{{ PAPERLESS_DB_PASS }}"
PAPERLESS_SECRET_KEY={{ PAPERLESS_SECRET_KEY }}
PAPERLESS_ENABLE_ALLAUTH=true
PAPERLESS_APPS=allauth.socialaccount.providers.google,allauth.socialaccount.providers.microsoft
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"google":{"SCOPE":["profile","email","https://mail.google.com/"],"AUTH_PARAMS":{"access_type":"offline","prompt":"consent"},"APP":{"client_id":"{{ PAPERLESS_GMAIL_OAUTH_CLIENT_ID }}","secret":"{{ PAPERLESS_GMAIL_OAUTH_CLIENT_SECRET }}"}},"microsoft":{"APPS":[{"client_id":"{{ PAPERLESS_OUTLOOK_OAUTH_CLIENT_ID }}","secret":"{{ PAPERLESS_OUTLOOK_OAUTH_CLIENT_SECRET }}","settings":{"tenant":"common"}}]}}
PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS=false
PAPERLESS_OUTLOOK_OAUTH_CLIENT_ID="{{ PAPERLESS_OUTLOOK_OAUTH_CLIENT_ID }}"
PAPERLESS_OUTLOOK_OAUTH_CLIENT_SECRET="{{ PAPERLESS_OUTLOOK_OAUTH_CLIENT_SECRET }}"
PAPERLESS_GMAIL_OAUTH_CLIENT_ID="{{ PAPERLESS_GMAIL_OAUTH_CLIENT_ID }}"
PAPERLESS_GMAIL_OAUTH_CLIENT_SECRET="{{ PAPERLESS_GMAIL_OAUTH_CLIENT_SECRET }}"
PAPERLESS_URL=https://docs.rnet.at
PAPERLESS_OAUTH_CALLBACK_BASE_URL=https://docs.rnet.at
PAPERLESS_TASK_WORKERS=4
PAPERLESS_EMAIL_CHARSET=US-ASCII
USERMAP_UID=0
USERMAP_GID=0
