SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS={{ SEMAPHORE_DB_PASS }}
SEMAPHORE_DB_NAME=semaphore
SEMAPHORE_ADMIN_USER=admin
SEMAPHORE_ADMIN_PASS={{ SEMAPHORE_ADMIN_PASS }}
SEMAPHORE_ADMIN_NAME=Admin
SEMAPHORE_ADMIN_EMAIL=admin@example.com
SEMAPHORE_ACCESS_KEY_ENCRYPTION={{ SEMAPHORE_ACCESS_KEY_ENCRYPTION }}
